#scrolltext {
	z-index: 10;
	font:16px/26px Georgia, Garamond, Serif;
	overflow:auto;

  display: block;
  position: absolute;
  height: 100%;
  width: 20em;
  top: 0;
  right: 0;
<<<<<<< HEAD
  background: rgba(255,255,255,.5);
}

#scrollBoxHeader
{
	z-index: 12;
	border:1px solid #ccc;
	font:16px/26px Georgia, Garamond, Serif;
	overflow:auto;

  display: block;
  position: absolute;
 
  height: 4%;
  width: 20em;
  top: 0;
  right: 0;

  background: rgba(255,255,255,.5);
=======
>>>>>>> 4310ed6efcdb390c53a6a66263ffd21b214107ec
}